---
apiVersion: batch/v1
kind: Job
metadata:
  name: diktator-migrate
  namespace: diktator
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migrate
          image: migrate/migrate:latest
          args:
            - -path
            - /migrations
            - -database
            - $(DATABASE_URL)
            - up
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: diktator-db-app
                  key: uri
          volumeMounts:
            - name: migrations
              mountPath: /migrations
              readOnly: true
      volumes:
        - name: migrations
          configMap:
            name: diktator-migrations
